// breakpoints
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;

/** colors **/
$primary: #5469d4;
$white: #fff;
$grey_light: #ccc;
$grey_lightest: #ebebeb;

// border-radius
$border-light: 2px;
$border-medium: 3px;

// box-shadow
$shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
0 4px 6px -2px rgba(0, 0, 0, 0.05);